* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    height: 152px;
    background-color: #0d1d2b;
    font-size: 12px;
}

.busquedad {
    display: flex;
    position: relative;
    top: 6px;
    left: 8px;
    max-width: 166px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: capitalize;
    justify-content: space-between;
    max-width: 200px;
    position: relative;
    top: -15px;
    left: 200px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #a4281f;
}

.perfil {
    position: absolute;
    top: 0px;
    right: 30px;
}

#recuadro {
    border: black 1px solid;
    position: relative;
    left: 5%;
    right: 25%;
}

ul,
ol {
    list-style-type: none;
}

.nav li a {
    background-color: #0d1d2b;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul {
    right: 1px;
    top: 38px;
}

.recomendados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    margin-top: 15px;
    margin-left: 27%;
}

.recomendados a {
    text-decoration: none;
    color: #277ab1;
}

.recomendados a:hover {
    color: #a4281f;
}

.separador {
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    border-style: dashed;
}

.flash {
    color: red;
}


/*POST DEL BLOG*/

.publicaciones {
    margin-top: 2%;
    margin-left: 14%;
    width: 72%;
    height: 720px;
    /*border: solid red;*/
}

.minipost1 {
    margin-left: 0.1%;
    margin-top: 0.1%;
    width: 99.9%;
    height: 33.1%;
    margin-bottom: 2.5rem;
    /*border: solid cyan;*/
}

.titulopost {
    margin-left: 0.05%;
    margin-top: 0.05%;
    width: 60%;
    height: 30%;
    /*border: solid green;*/
    font-size: 25px;
    font-weight: bold;
    font-family: "Langar", cursive;
}

a {
    text-decoration: none;
    color: black;
}

.cuerpopost {
    margin-left: 0.05%;
    margin-top: 0.05%;
    width: 75%;
    height: 61%;
    overflow: hidden;
    /*border: solid black;*/
}

.imapost {
    margin-left: 75%;
    margin-top: -174px;
    width: 25%;
    height: 71%;
    /*border: solid blue;*/
}

.like {
    margin-left: 10%;
}